{% extends 'site_base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="container-fluid">
      <div class="panel panel-default" >
        <div class="panel-heading">
          <h3> You can contact me at any of the methods listed below:</h3>
        </div>
        <div class="panel-body">
          <h4> Email: tyler.lehman@colorado.edu </h4>
          <h4> Phone: (970)217-5480 </h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
