{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}


{% block content %}
<div class="container-fluid" style="min-height:95%;">
<main>
    <section class="jumbotron" style="background-image: url('{% static "about/img/jade2.jpg" %}');">
        <div class="container">
            <h1 class="hed" style="text-align: center;">Colorado Job Assistance Program</h1>
              <br></br>
              <br></br>
              <br></br>
              <br></br>
              <br></br>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p class="lead">{% blocktrans %}<a href="{{ login_url }}" class="btn btn-primary">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a>{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section id="content-section">
      <div id="content-body">
          <div class="container-fluid">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2> This site is designed to help individuals FIND Jobs. </h2>
              </div>
              <div class="panel-body">
                <h2> Why use Colorado Job Assistant Program? </h2>
                  <ol>
                    <li> Efficient: </li>
                      <ul>
                        <li> Thousands of jobs are pulled daily in one spot </li>
                      </ul>
                    <li> Time Saving:</li>
                      <ul>
                        <li> Less time spent searching different websites and finding the jobs</li>
                      </ul>
                    <li> Easy to Use:</li>
                      <ul>
                        <li> The search narrows results down for only jobs you want to see </li>
                      </ul>
                    <li> Quickly Find the Job Details:</li>
                      <ul>
                        <li> Links and information to find the job info are provided </li>
                      </ul>
                  </ol>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section>
        <div id="content-body">
          <div class="container-fluid">
            <p class="see-more lead text-center">
                {% blocktrans %}
                <!--See <a href="http://pinaxproject.com/">updateThis.com</a>
                for more information.-->
                {% endblocktrans %}
            </p>
          </div>
        </div>
    </section>
</main>
</div>
{% endblock %}
