{% extends "base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'about/css/bootstrap.min.css' %}"type="text/css">
    <link rel="stylesheet" href="{% static 'about/css/cjap.css' %}" type="text/css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block topbar_base %}
<body class="body" style="background: radial-gradient(circle, rgba(14, 125, 147, 0.8), rgba(186, 238, 249, 0.9))">
 <div class="container-fluid" style="min-height:95%;">
    <nav class="navbar navbar-dark fixed-top bg-primary w3-theme-d3">
      {% block topbar %}
        {% block site_brand %}
          <a role="button "class="btn btn-primary" href="{% url 'home' %}">CJAP</a>
          {% endblock %}
            {% block nav %}
                    {% block nav_items %}
                      {% comment %}
                        <a class="nav-link" href="#tab_one">One</a>
                        <a class="nav-link" href="#tab_two">Two</a>
                        <a class="nav-link" href="#tab_three">Three</a>
                        <a class="nav-link" href="#tab_three">Four</a>
                      {% endcomment %}
                    {% endblock %}
            {% endblock %}
            {% block account_bar %}
              {% include "_account_bar.html" %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block table %}
        {% endblock %}
      {% endblock %}
    </nav>
  </div>
</body>
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/site.js' %}"></script>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}
    {% endblock %}
{% endblock %}
